/*======================================= Forms =================================== */


$input-border-color: black; //modifie la couleur du label, leur nom de variable craint.
$label-font-size : 1rem;
$input-margin: 0 0 15px 0;

//range 
$range-height: 17px;
$range-width: 17px;
$track-height: 4px;